<div class='field'>
	<label>Title : </label></br>
	<%= @post.title %>
</div>

<div class='field'>
	<label>Description : </label></br>
	<%= @post.description %>
</div>

<div class='field'>
	<label>Content : </label></br>
	<%= @post.content %>
</div>

<div class='field'>
	<label>Published : </label></br>
	<%= @post.published %>
</div>

<div class='field'>
	<label>Tags : </label></br>
	<%= @post.tags %>
</div>